---



---



    <div class="relative mx-auto max-w-7xl px-6 pb-12">
        <div class="mx-auto max-w-2xl  color_body">
            <h1
              class="greeting text-3xl font-bold text-white"
            >
                About Me
            </h1>
        </div>
        <div class="mx-auto max-w-2xl">
            <p class="mt-6 text-slate-400">
                Me considero un artesano de la web, mis conocimientos no solo se basan en el desarrollo web, 
                también tengo conocimientos en la creación de aplicaciones móviles y experiencia gestionando 
                equipos digitales. Tengo la habilidad de adaptarme a cualquier proyecto y mantener una 
                comunicación fluida con mis compañeros de trabajo.
            </p>
        </div>
    </div>
  
