---

---

<div class="Footer">
    <h2 class="text-white font-bold text-2xl leading-snug text-center">
        Download my <span class="resume"> resume in PDF</span>
    </h2>
</div>


<style>
    .Footer{
        margin-top: 10%;
    }

    .resume{
        color: #01d116;
    }
</style>

