---
import Menu from "../Menu.astro";


---

<div class="Header">
    <div class="relative mx-auto max-w-7xl px-6 pt-16 pb-3 sm:px-12 lg:pt-24">
        <header class="mx-auto max-w-2xl text-center color_body">
            <h1
              class="greeting"
            >
                Hola, Soy Eder Castro  <span> &#128588;</span>
            </h1>
            <p class="mt-3 greeting_me">
              Desarrollador de Software y amante
              de la ciberseguridad. <Menu>
            </p>

            
        </header>
        
    </div>
</div>



<style>
    .greeting{
      font-size: 46px;
      font-weight: bold;
      text-align: justify;
    }
  
    .greeting_me{
      font-size: 18px;
      text-align: justify;
    }
  </style>
  