---
import Icon from "../Icon.astro";


<div class="relative mx-auto max-w-7xl px-6">
    <div class="mx-auto max-w-2xl  color_body">
        <h1
          class="greeting text-2xl font-bold text-white"
        >
            Skills
        </h1>
    </div>
    <div class="mx-auto max-w-2xl">
        <div class="flex justify-center space-x-2 m-4 mt-8">
            <Icon skill="JavaScript"/>
            <Icon skill="PHP"/>
            <Icon skill="Java"/>
            <Icon skill="C#"/>
            <Icon skill="TypeScrip"/>
        </div>
        <div class="flex justify-center space-x-2 m-4">
            <Icon skill="React"/>
            <Icon skill="Angular"/>
            <Icon skill="Vue"/>
            <Icon skill="Astro"/>
            <Icon skill="Tailwind"/>
            <Icon skill="Boostrap"/>
            <Icon skill="Astro"/>
        </div>

        <div class="flex justify-center space-x-2 m-4">
            <Icon skill="MongoDB"/>
            <Icon skill="SqlServer"/>
            <Icon skill="PostgreSQL"/>
        </div>        
    </div>
</div>
