---
import AboutMe from "../components/HomeComponent/AboutMe.astro";
import EndText from "../components/HomeComponent/EndText.astro";
import Header from "../components/HomeComponent/Header.astro";
import Knowledge from "../components/HomeComponent/Knowledge.astro";
import Skills from "../components/HomeComponent/Skills.astro";




// Aquí podrías importar un componente Header y Footer si quieres.


---

<html>
  <head>
    <title>Mi Portafolio</title>
	<link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body>
   <div class="main">
    <Header/>
    
    <AboutMe/>
    <div>
      <Skills/>

      <Knowledge/>
    </div>

    <EndText/>
    
   </div>
  </body>
</html>


<style>
  .main{
    width: 50%;
    margin: auto;
  }
</style>