---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <title>Proyectos - Mi Portafolio</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>Mis Proyectos</h1>
      <ul>
        <li><a href="proyecto-1">Proyecto 1</a></li>
        <li><a href="proyecto-2">Proyecto 2</a></li>
        <li><a href="proyecto-3">Proyecto 3</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
