---
const { skill } = Astro.props;
---

<span
    class=`px-3 py-1 text-sm  text-indigo-800 rounded-full transition-colors duration-300 hover:bg-indigo-800 hover:text-white dark:bg-indigo-900 dark:text-indigo-200 dark:hover:bg-indigo-700`
>
    {skill}
</span>
